Body {
    background-color: #000000;
    margin: 0%;
    color: aliceblue;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
}
button {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}
h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
}
h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
}
p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 30px;
}


.header {
    width: 100%;
    height: 1250px;
    background: url(assets/Illustrations/Bathome1.png) no-repeat;
    background-size: 2000px 1000px;
    padding-top: 25px;
}
.corps {
    margin: 0 auto;
    width: 80%;
    height: 250px;
    padding-right: 5%;
    padding-top: 5%;
    padding-left: 5%;
    border-style: solid;
    border-width: 2.5px;
    border-color: rgba(255, 255, 255, 0.839);
    z-index: auto;
}
.corps2 {
    margin: 0 auto;
    margin-top: -900px;
    width: 80%;
    height: auto;
    padding-right: 5%;
    padding-top: 5%;
    padding-left: 5%;
    border-style: solid;
    border-width: 2.5px;
    border-color: rgba(255, 255, 255, 0.839);
    z-index: auto;
}
.logo {
        filter: opacity(100%) drop-shadow(rgb(255, 255, 255));
}
.menu {
    float: right;
    width: 150px;
}
.batmanaucine {
     padding-top: 250px;
}
.divimg {
    text-align: center;
}
.img1 {
    margin-top: -527px;
}
.divimg2 {
    width: 150px;
    height: 150px;
    margin-left: 100px;
    background-color: #941e1e;
    text-align: center;
    background: url(assets/Illustrations/Bathome13.png) no-repeat;
    background-size: 150px 100px;
}
.nemesis {
    margin-top: -105px;
}
.batman {
    background: url(assets/Illustrations/Bathome12.png) no-repeat;
    width: 500px;
    height: 500px;
    background-size: 500px;
    margin-top: 15px;
    float: right;
    z-index: 999;
    margin-right: -220px;
}
.allie {
    margin-top: 80px;
}
.justiceleague {
    padding-top: 250px;
    margin-left: 100px;
}
.couverture {
    width: 2000px;
    height: 700px;
    margin-left: -250px;
    background: url(assets/Illustrations/Bathome11.png) no-repeat;
    background-size: cover;
    z-index: 999;
}
.dov {
    width: 100%;
    background: #000000;
    background-size: cover;
    height: 100px;
    z-index:999;
    
}